.navbar {
    line-height: 55px;
    height: 55px;
    background-color: #24a07c;
    // background-color: #d64646;
}

.nav-item .nav-link {
    font-family: 'PFDinTextProRegular';
    font-size: 21px;
    color: white;
}

.navbar-brand {
    font-family: 'Lobster';
    font-size: 30px !important;
    color: white;
}

.navbar-nav li a:hover { 
    color: #d3ffe7 !important; 
}