.home-background {
    background-image: url("../images/about.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    div {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
    }
}