body#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-background {
    background-image: url("../images/africa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    div {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
    }
}

.login-div {
    border-radius: 2px;
    margin: auto;
    max-width: 35%;
    padding: 35px 45px;
}

.login-form {
    .form-group {
        margin-bottom: 10px;
    }
    text-align: center;
}

@mixin login-p() {
    color: #fff;
    line-height: 40px;
}

.login-panel p {
    @include login-p();
    font-size: 35px;
    margin-top: 0px;
    font-family: 'Lobster';
}

.create-account {
    text-align: center;
    font-size: 15px;
    a {
        color: #5ee275;
        &:hover {
            // color: #00e4bc;
            color: #61e880;
            text-decoration: underline;
        }
    }
    p {
        @include login-p();
    }
}

.login-div .btn {
    margin: 20px 0 0 0;
}