@font-face {
    font-family: 'Lobster';
    src: url("../fonts/Lobster-Regular.ttf");
}

@font-face {
    font-family: 'PFDinTextProRegular';
    src: url("../fonts/PFDinTextProRegular.ttf");
}

.form-control {
    background: transparent;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 13px;
    height: 40px;
    line-height: 40px;
    &:focus,
    :active,
    :hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: transparent;
        color: #fff;
        border-color: #61e880;
    }
}

.form-control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.767);
}

h2 {
    font-family: 'PFDinTextProRegular';
}