table.table-hover tbody tr:hover {
    background-color: #f6f7f8;
    // background-color: #e0efff;
}

thead,
tbody,
tr,
td,
th {
    display: block;
}

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

tbody {
    max-height: 400px;
    overflow-y: auto;
}

tbody td,
thead th {
    float: left;
}

.table thead tr th {
  border-top: none;
  border-bottom: none;
}

.table {
    font-size: 14px;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-add {
    margin: 0 20px -20px 0px;
}

h2 {
    margin: 0 10px;
}

// th {
//     background-color: #f8f9fa;
// }